---
name: pages
layout: page
---

<script>
  import SearchBar from '$components/SearchBar.svelte';
  import Gallery from '$components/Gallery.svelte';
</script>

# Explorar

Usa los componentes interactivos para conocer más de los memes de la colección:

<SearchBar />
<Gallery filters={["grupo relacionado", "medio", "clase", "año de popularización", "localización"]}/>